<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        <form action="/camper_achievement_new?camper_key={{camper.key}}" method="post">
            {% for validationError in validationErrors %}
                <div class="validationError">{{ validationError }}</div>
            {% endfor %}
            {% if validationErrors %}
                <div>Click the back button to get back what you typed<div>
            {% endif %}
            <table>
                <tr><td align="right">Camper:</td><td>{{camper.firstName}} {{camper.lastName}}</td></tr>
                <tr>
                    <td align="right">Session:</td>
                    <td>
                        <select name="session">
                            <option value="">Unknown</option>
                            {% for session in sessions %}
                                <option value="{{session.key}}">{{session.name}}, {{session.startDate}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">Cabin:</td>
                    <td>
                        <select name="cabin">
                            <option value="">Unknown</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="LT">Lean-To</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">Achievement:</td>
                    <td>
                        <select name="achievement">
                            {% for achievement in achievements %}
                                <option value="{{achievement.key}}">{{achievement.badge.name}} - {{achievement.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                 <tr>
                    <td align="right">Group:</td>
                    <td>
                        <select name="group">
                            <option value="">Unknown</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </td>
                </tr>
                 <tr>
                    <td align="right">Period:</td>
                    <td>
                        <select name="period">
                            <option value="">Unknown</option>
                            <option value="SM">SM - Sunday, Monday</option>
                            <option value="TW">TW - Tuesday, Wednesday</option>
                            <option value="RF">RF - Thursday, Friday</option>
                        </select>
                    </td>
                </tr>
                <tr><td align="right">Failed:</td><td><input type="checkbox" name="failed"></td></tr>
            </table>
            <input type="submit" value="Create New Achievement for Camper">
        </form>
    </body>
</html>
