body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #F8F8F8;
}

div.validationError {
    color:#FF3333;
}

.pagebreak {
    page-break-before: always;
}

tr:nth-child(even) {
    background-color: #DDFFDD;
}

tr:nth-child(odd) {
    background-color: #FFFFCC;
}

tr.needed {
    background-color: #FFFFCC;
}

tr.completed {
    background-color: #99DD99;
}

td.achievementCheck {
    text-align:center;
    cursor: pointer;
}

td.scheduled {
    background-color: #99FFFF;
}

thead tr:nth-child(1n+0) {
    font-weight: bold;
    background-color: inherit;
}

thead td {
    text-align: center;
    border: 2px solid #000000;
}

table.report td {
    width: 210px;
}

table td {
    border: 2px solid #000000;
}

table {
    border-collapse: collapse;
    border: 2px solid #000000;
}

#side-content {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    overflow: auto;
    bottom: 0;
}

/*
.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform: rotate(-90deg);
}

.verticalTableHeader p {
    margin:0 -999px;/* virtually reduce space needed on width to very little * /
    display:inline-block;
}

.verticalTableHeader p:before {
    content:'';
    width:0;
    padding-top:110%;
    /* takes width as reference, + 10% for faking some extra padding * /
    display:inline-block;
    vertical-align:middle;
}
*/

th.verticalTableHeader {
  /* Something you can count on */
  height: 320px;
  white-space: nowrap;
}

th.verticalTableHeader > div {
  transform: 
      translate(0px, 145px)
      rotate(270deg);
  width: 30px;
}

th.verticalTableHeader > div > span {
  border-top: 2px solid #000;
  padding: 5px 10px;
}

table.report.criteria td {
    width: 30px;
}

table.report.criteria td.name {
    width: 200px;
}

a.reportLink {
    line-height: 25px;
}
