body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #F8F8F8;
}

div.validationError {
    color:#FF3333;
}

.pagebreak {
    page-break-before: always;
}

tr:nth-child(even) {
    background-color: #DDFFDD;
}

tr:nth-child(odd) {
    background-color: #FFFFCC;
}

thead tr:nth-child(1n+0) {
    font-weight: bold;
    background-color: inherit;
}

thead td {
    text-align: center;
}

table.report td {
    width: 200px;
}
