<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <title>Import Campers</title>
    </head>
    <body>
        <h2>New: ({{newCampers|length}})</h2>
        The following campers look to be new:
        <table>
            <thead>
                <tr>
                    <td>Campwise Id</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Birth Date</td>
                    <td>Cabin</td>
                </tr>
            </thead>
            <tbody>
                {% for iCamper in newCampers %}
                    <tr>
                        <td>{{iCamper.campwiseId}}</td>
                        <td>{{iCamper.firstName}}</td>
                        <td>{{iCamper.lastName}}</td>
                        <td>{{iCamper.birthDate}}</td>
                        <td>{{iCamper.cabin}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/><br/>
        <h2>Matched: ({{existingCampers|length}})</h2>
        The following campers look to have successful matches:
        <table>
            <thead>
                <tr>
                    <td>Campwise Id</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Birth Date</td>
                    <td>Cabin</td>
                </tr>
            </thead>
            <tbody>
                {% for iCamper in existingCampers %}
                    <tr>
                        <td>{{iCamper.campwiseId}}</td>
                        <td>{{iCamper.firstName}}</td>
                        <td>{{iCamper.lastName}}</td>
                        <td>{{iCamper.birthDate}}</td>
                        <td>{{iCamper.cabin}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/><br/>
        <h2>Renames: ({{renamedCampers|length}})</h2>
        The following campers have conflicting attributes. Their incoming info doesn't match what's in the database.<br/>
        They may have had a legitimate change such as name change due to adoption or a corrected typo.<br/>
        Or a parent may be attempting to switch the camper that an account has been set up for.<br/>
        <table>
            <thead>
                <tr>
                    <td>Status</td>
                    <td>Campwise Id</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Birth Date</td>
                </tr>
            </thead>
            <tbody>
                {% for iCamper in renamedCampers %}
                    <tr>
                        <td>New</td>
                        <td>{{iCamper.campwiseId}}</td>
                        <td>{{iCamper.firstName}}</td>
                        <td>{{iCamper.lastName}}</td>
                        <td>{{iCamper.birthDate}}</td>
                    </tr>
                    <tr>
                        <td><a href="/camper_edit?key={{iCamper.existingCamper.key}}">Existing</a></td>
                        <td>{{iCamper.existingCamper.campwiseId}}</td>
                        <td>{{iCamper.existingCamper.firstName}}</td>
                        <td>{{iCamper.existingCamper.lastName}}</td>
                        <td>{{iCamper.existingCamper.birthDate}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     
        <br/><br/>
        <h2>Duplicates: ({{duplicatedCampers|length}})</h2>
        The following campers appear to be duplicates of another account we already have.<br/>
        It could be a legitimate appearance of a duplicate.  Such as a twin with the same last name and birthdate.<br/>
        Or a parent may have been locked out of their old account and be trying to establish a new account.<br/>
        <table>
            <thead>
                <tr>
                    <td>Status</td>
                    <td>Campwise Id</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Birth Date</td>
                </tr>
            </thead>
            <tbody>
                {% for duplicatedCamper in duplicatedCampers %}
                    <tr>
                        <td>New</td>
                        <td>{{duplicatedCamper.incomingCamper.campwiseId}}</td>
                        <td>{{duplicatedCamper.incomingCamper.firstName}}</td>
                        <td>{{duplicatedCamper.incomingCamper.lastName}}</td>
                        <td>{{duplicatedCamper.incomingCamper.birthDate}}</td>
                    </tr>
                    {% if duplicatedCamper.incomingCamper.existingCamper %}
                    <tr>
                        <td><a href="/camper_edit?key={{duplicatedCamper.incomingCamper.existingCamper.key}}">Existing</a></td>
                        <td>{{duplicatedCamper.incomingCamper.existingCamper.campwiseId}}</td>
                        <td>{{duplicatedCamper.incomingCamper.existingCamper.firstName}}</td>
                        <td>{{duplicatedCamper.incomingCamper.existingCamper.lastName}}</td>
                        <td>{{duplicatedCamper.incomingCamper.existingCamper.birthDate}}</td>
                    </tr>
                    {% endif %}
                    {% for dupe in duplicatedCamper.dupes %}
                    <tr>
                        <td><a href="/camper_edit?key={{dupe.key}}">Duplicate</a></td>
                        <td>{{dupe.campwiseId}}</td>
                        <td>{{dupe.firstName}}</td>
                        <td>{{dupe.lastName}}</td>
                        <td>{{dupe.birthDate}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     
        <form action="/finalize_import" method="post">
            <br/><a href="/camper_list" target="_ALL">Make fixes to the camper list</a><br/>
            Click the refresh button to see your changes reflected in this report.<br/>
            All renames and duplicates are fixed or not needing to be fixed?<br/>
            <input type="submit" value="Create new campers">
        </form>
    </body>
</html>
