<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <p>Need technical assistance? Contact <a href="mailto:ben@steinbox.com">ben@steinbox.com</a>
  or text 585-230-0496<br/><br/>
  <a href="/import">Import Campers</a><br/>
  <a href="/schedule_start">Create Schedule for a Session</a><br/>
  <a href="/schedule_cabin_update">Update Cabin List for a Session</a><br/>
  <hr/>
  <form action="/report_cabin_report" method="get">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Cabin Report"/>
  </form>
  <hr/>
  <form action="/report_group_report" method="get">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Group Report"/>
  </form>
  <hr/>
  <form action="/report_medal_report" method="get">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Medal Report"/>
  </form>
  <hr/>
  <form action="/report_alphabetical_report" method="get">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Alphabetical Report"/>
  </form>
  <hr/>
  <form action="/report_size_report" method="get">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Class Size Report"/>
  </form>
  <hr/>
  <form action="/report_criteria_report" method="get">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Create Criteria Sheets"/>
  </form>
  <hr/>
  <a href="/camper_list">Camper List</a><br/>
  </body>
</html>

