<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <p>Need technical assistance? Contact <a href="mailto:ben@steinbox.com">ben@steinbox.com</a>
  or text 585-230-0496<br/><br/>
  <a href="/import">Import Campers</a><br/>
  <a href="/schedule_start">Create Schedule for a Session</a><br/>
  <a href="/schedule_cabin_update">Update Cabin List for a Session</a><br/>
  <hr/>
  <form action="/report_cabin_report" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Cabin Report"/>
  </form>
  <hr/>
  <form action="/report_group_report" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Group Report"/>
  </form>
  <hr/>
  <form action="/report_medal_report" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Medal Report"/>
  </form>
  <hr/>
  <form action="/report_alphabetical_report" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Alphabetical Report"/>
  </form>
  <hr/>
  <a href="/camper_list">Camper List</a><br/>

<!-- Comment out for safe keeping
  <a href="/session_list">Session List</a><br/>
  <a href="/achievement_list">Achievement List</a><br/>
  <a href="/badge_list">Badge List</a><br/>

  <hr/>
  <h3>Debug Reports</h3>
  <form action="/debug_null_ca" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Debug Null CamperAchievements"/>
  </form>
  <form action="/debug_null_ca_with_names" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Debug Null CamperAchievements With Names"/>
  </form>
  <form action="/debug_null_ca_null_periods" method="post">
      <select name="session">
          {% for session in sessions %}
              <option value="{{session.key}}">{{session.name}}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Run Debug Null CamperAchievements Null Periods"/>
  </form>
-->
  </body>
</html>

